@model List<BusinessObject.Models.DTO.BookingDTO>
@using System.Globalization;

@{
    ViewData["Title"] = "History Booing";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Meow & Woof - Pet Care Website</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="Free HTML Templates" name="keywords" />
    <meta content="Free HTML Templates" name="description" />

    <!-- Favicon -->
    <link href="/img/logo.png" rel="icon" />

    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap"
          rel="stylesheet" />

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
          rel="stylesheet" />

    <!-- Flaticon Font -->
    <link href="/lib/flaticon/font/flaticon.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/84e176b008.js"
            crossorigin="anonymous"></script>

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
          rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/common/style.css" rel="stylesheet" />
    <link href="/css/pages/navbar.css" rel="stylesheet" />
    <link href="/css/pages/history.css" rel="stylesheet" />
</head>

<body>
    @Html.Partial("Header")

    <!-- TABLE HISTORY Start -->
    <div class="">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mt-5 mb-5">
                <h2 class="heading-section">History</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Thú cưng của tôi</th>
                                <th>Loại thú cưng</th>
                                <th>Loại dịch vụ</th>
                                <th>Cửa hàng</th>
                                <th>Trạng thái</th>
                                <th>Ngày đặt trước</th>
                                <th>Ngày bắt đầu</th>
                                <th>Ngày kết thúc</th>
                                <th>Tổng chi phí</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var booking in Model)
                            {
                                <tr class="alert">
                                    <td>1</td>
                                    <td>
                                        <img src="@booking.Pet.Petimage"
                                             class="avatar img-circle img-thumbnail"
                                             style="max-height : 150px" />
                                    </td>
                                    <td>@booking.Pet.Pettype.Pettypename @booking.Pet.Pettype.WeightFrom - @booking.Pet.Pettype.WeightTo kg</td>
                                    <td>@booking.Service.Servicetype.Servicetypename</td>
                                    <td>@booking.Service.Servicename</td>
                                    @if(booking.Statuspaid == 1)
                                    {
                                        <td class="status"><span class="unpaid">UnPaid</span></td>
                                    }
                                    else if(booking.Statuspaid == 2)
                                    {
                                        <td class="status"><span class="paid">Paid</span></td>
                                    }
                                    else
                                    {
                                        <td class="status"><span class="used">Used</span></td>
                                    }
                                    <td>@booking.Bookingdate</td>
                                    <td>@booking.Startbooking</td>
                                    <td>@booking.Endbooking</td>
                                    @{
                                        var cultureInfo = new CultureInfo("vi-VN");
                                        var formattedPrice = string.Format(cultureInfo, "{0:N0} VND", booking.Totalprice);
                                    }
                                    <td>@formattedPrice</td>
                                    @if(booking.Statuspaid != 3)
                                    {
                                        <td><button class="btn btn-danger">Cancel</button></td>
                                    }
                                    else{<td></td>}
                                </tr>
                            }
                        </tbody>
                    </table>
                    <!-- PAGINATION -->
                    <div class="demo mt-5">
                        <nav class="pagination-outer" aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Previous">
                                        <span aria-hidden="true">«</span>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">3</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">4</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">5</a>
                                </li>
                                <li class="page-item">
                                    <a href="#" class="page-link" aria-label="Next">
                                        <span aria-hidden="true">»</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--  -->
                </div>
            </div>
        </div>
    </div>
    <!-- TABLE HISTORY End -->
    @Html.Partial("Footer")

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="/mail/jqBootstrapValidation.min.js"></script>
    <script src="/mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="/js/main.js"></script>
</body>
</html>
