@using System.Globalization;
@model BusinessObject.ObjectView.ListBooking;
@{
	ViewData["Title"] = "List Booking";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>Edit Product - DeskApp</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/admin/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/admin/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/admin/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/admin/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="/admin/vendors/styles/style.css">
</head>
<style>
    .save-button {
        margin-top: 100px;
    }
</style>
<body>
    @Html.Partial("SupplierHeader")
    @Html.Partial("SupplierFunction")
	<div class="mobile-menu-overlay"></div>

	<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-200px">
				<div class="page-header">
				</div>
				<!-- Simple Datatable start -->
				<div class="card-box mb-30">
					<div class="pb-20">
						<table class="data-table table stripe hover nowrap">
							<thead>
								<tr>
									<th class="table-plus datatable-nosort">Tên người đặt</th>
									<th>Loại thú cưng</th>
									<th>Ngày đặt trước</th>
									<th>Ngày bắt đầu</th>
									<th>Ngày kết thúc</th>
									<th>Tổng chi phí</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var booking in Model.bookingDTOs)
								{
									<tr>

										<td>@booking.User.Fullname</td>
										<td>@booking.Pet.Pettype.Pettypename @booking.Pet.Pettype.WeightFrom - @booking.Pet.Pettype.WeightTo kg</td>
										<td>@booking.Bookingdate</td>
										<td>@booking.Startbooking</td>
										<td>@booking.Endbooking</td>
										@{
											var cultureInfo = new CultureInfo("vi-VN");
											var formattedPrice = string.Format(cultureInfo, "{0:N0} VND", booking.Totalprice);
										}
										<td>@formattedPrice</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
				<!-- Simple Datatable End -->
			</div>
		</div>
	</div>
    <!-- js -->
    <script src="/admin/vendors/scripts/core.js"></script>
    <script src="/admin/vendors/scripts/script.min.js"></script>
    <script src="/admin/vendors/scripts/process.js"></script>
    <script src="/admin/vendors/scripts/layout-settings.js"></script>
</body>
</html>
